<section class="flex flex-col md:flex-row gap justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
<p> Me llamo Daniel Berrio Barrios, soy <strong>Tecnólogo en Análisis y desarrollo de Software,</strong> llevo más de +2 años programando y colaborando en proyectos educativos y personales. Enfocado siempre en brindar soluciones efectivas a problemas complejos.</p>

<p>Durante mi proceso educativo he logrado obtener direntes certificaciónes complementarias de las cuales me he destacado en proyectos como <strong> "Software de facturación con PHP", "Gestión de Eventos Sena", "Parking-Python".</strong> <a class="font-bold text-sky-400" href="https://github.com/KingDanyDev" target="_blank">Echales un vistazo.</a></p>

<p>He sido parte de Semilleros de investigación y he participado como ponenete en difrentes encuentros de <a class="font-semibold text-yellow-400" href="https://web.redcolsi.org/inicio/quienes-somos" target="_blank">RedCOLSI</a> con proyectos de innovación y tecnología.</p>
</div>
<img src="/projects/me.jpg" class="rounded-full size-64 order-1 md:order-2" alt="">
</section>