
---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCIE = [
{
    date: 'Actualmente...',
    title: 'Supply chain Intern Bogotá SSC - SLB S.A',
    description: 'Encargado de actualizar la data y reportes en SAP, Mantener al día Dashboards de Power BI, Optimizar Queries y Macros de Excel mediante VBA, Ayudar a resolver problemas y sugerir soluciones u optimizaciones a procesos manuales y repetitivos, contribuyendo al aumento de la productividad y la eficacia operativa. ',
    link: '#'
},

{
    date: 'Febrero, 2024 - Actualmente.',
    title: 'Desarrollador Fullsatck (Aplicación Web - KingCaps)',
    description: 'Lideré la conceptualización creativa y diseñé interfaces de usuario atractivas. Desarrollé tanto el frontend como el backend utilizando tecnologías como Javascript y PHP. Además, gestioné la creación y optimización de bases de datos para garantizar un rendimiento óptimo.',
    link: '#'
},
 
{
    date: 'February 2, 2015',
    title: 'Desarrollador backend',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore',
    link: '#'
}
]
---
<ol class="relative border-s border-gray-200 ml-3">   
    
    {
        EXPERIENCIE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience}/>
        </li>
        ))
        
    }
    
</ol>

